.header-mobile{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    z-index: 15;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    .header-logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        img{
            width: 200px;
            height: auto;
        }
        button{
            background-color: transparent;
            border: none;
            border-radius: 100px;
            font-size: 25px;
            color: #fff;
            background-color: #caa8928a;
            transition: 300ms ease;
            width: 40px;
            height: 40px;
            &:hover{
                color: #646464;
                cursor: pointer;
                background-color: transparent;
            }
        }
    }
    .header-link, .header-signin{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        a{
            color: #212121;
            text-decoration: none;
            text-transform: uppercase;
            padding: 20px 20px;
            transition: 300ms ease;
            &:hover{
                background-color: #CAA892;
                color: #fff;
            }
        }
    }
}

.header-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #252525b6;
    z-index: 14;
    content: '';
}