@media screen and (max-width: 1100px){
    .shop-content__container{
        display: flex;
        flex-direction: column;
    }
    .shop-content__insta{
        .shop-content__insta__img{
            flex-wrap: wrap;
        }
    }
}
@media screen and (max-width: 680px){
    .shop-content__container{
        margin: 0 30px;
        .shop-content__images{
            .block{
                width: 200px;
                img{
                    margin: 10px;
                    width: 200px;
                    border-radius: 10px 40px;
                }
            }
        }
    }
}
@media screen and (max-width: 760px){
    .shop-content__insta{
        .shop-content__insta__img{
            flex-wrap: wrap;
            img{
                width: 200px;
                border-radius: 10px 40px;
            }
        }
    }
}
@media screen and (max-width: 400px){
    .shop-content__container{
        .shop-content__images{
            .block{
                display: none;
            }
        }
    }
    .shop-content__insta{
        .shop-content__insta__img{
            img{
                display: none;
            }
        }
    }
}