@media screen and(max-width: 1100px) {
    .authorization {
        justify-content: center;
        align-items: center;

        .authorization__header {
            justify-content: flex-end;
        }
        .images {
            display: none;
        }
    }
}

@media screen and(max-width: 1100px) {
    .authorization {
        justify-content: center;
        align-items: center;

        .images {
            display: none;
        }
    }
}
