@media screen and(max-width: 1100px) {
    .authorization {
        justify-content: center;
        align-items: center;
        .authorization__form{
            .authorization__header {
                display: flex;
                justify-content: flex-end;
                .header__click-button{
                    // display: flex;
                    // justify-content: flex-end;
                    // margin: 0;
                }
            }
        }
        .images {
            display: none;
        }
    }
}

@media screen and(max-width: 1100px) {
    .authorization {
        justify-content: center;
        align-items: center;

        .images {
            display: none;
        }
    }
}
