@media screen and (max-width: 1100px){
    .home-main{
        display: flex;
        flex-direction: column;
    }
    .home-main>.block__img, .about-us__images__block{
        display: none;
        img{
            display: none;
        }
        .home-images__border{
            display: none;
        }
    }
    .about-us{
        .about-us__block{
            display: flex;
            flex-direction: column;
            .about-us__info{
                h1{
                    font-size: 30px;
                    line-height: 30px;
                    padding: 10px 0;
                }
            }
            .about-us__read-more{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h1{
                    margin: 20px 0;
                    text-align: center;
                }
                button{
                    margin: 0;
                }
            }
            .about-us__images__block{
                
            }
        }
    }
    .our-service{ 
        .block{
            display: flex;
            flex-direction: column;
            border-radius: 60px 0px;
            transition: 300ms ease;
            padding: 0px;
            width: 500px;
            margin: 10px;
            .block__txt{
                display: flex;
                flex-direction: column;
                text-align: left;
                padding: 20px;
            }
            .block__img{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                img{
                    padding: 20px 10px 10px 0;
                    margin: 0;
                }
                p{
                    margin: 0;
                    text-transform: uppercase;
                    font-weight: 700;
                  }
            }
        }
    }
    .scheme{
        .scheme__blocks{
            flex-wrap: wrap;
            justify-content: center;
            .box{
                margin: 20px;
                &:nth-child(even){
                    margin: 0;
                }
            }
        }
    }
    .testimonials{
        margin: 50px;
        padding-top: 0;
        padding-bottom: 0;
        .block{
            margin: 40px;
            display: flex;
            flex-direction: row;
            width: 500px;
            box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 100px 0px;
            position: relative;
            .block__txt{
                text-align: left;
                padding-left: 20px;
                flex-basis: 70%;
                .block__position{
                    display: flex;
                    flex-direction: column;
                    p{
                        margin: 0;
                        font-size: 18px;
                        b{
                            font-size: 20px;
                            font-weight: 800;
                            color: #212121;
                        }
                    }
                }
            }
            .block__img{
                img{
                    position: absolute;
                    top: -20px;
                    left: -20px;
                    border-radius: 50px 0px;
                }
            }
        }
    }
    .latest-news{
        padding-top: 0;
        padding-bottom: 0;
        .latest-news__blocks{
            display: flex;
            flex-direction: column;
        }
    }
    .subscribe{
        .subscribe__field{
            .subscribe__form{
                .form__input{
                    width: 400px;
                    border-radius: 20px 20px 0 0;
                }
                .form__button{
                    width: 400px;
                    border-radius: 0 0 20px 20px;
                    padding: 10px 20px;
                    box-sizing: content-box;
                }
            }
        }
    }
    .footer{
        .footer__block{
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            .block__logo{
                margin: 30px auto;
            }
            .links{
                .block__links{
                    b{
                        line-height: 16px;
                    }
                    ul{
                        li{
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                    p{
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px){
    .home-info{
        h1{
            font-size: 40px;
            line-height: 45px;
        }
    }
    .about-us__block{
        .about-us__read-more{
            img{
                width: 200px;
                height: auto;;
            }
            h1{
                margin: 20px 0;
                font-size: 40px;
                line-height: 30px;
            }
        }
    }
    .our-service{
        h1{
            font-size: 30px;
            line-height: 35px;
        }
        .block{
            width: 300px;
        }
    }
    .testimonials{
        .block{
            
        }
    }
    .latest-news{
        h1{
            font-size: 40px;
            line-height: 45px;
        }
    }
    .subscribe{
        padding: 40px 20px;
        h1{
            font-size: 30px;
            line-height: 35px;
        }
        hr{
            margin: 20px auto;
        }
        p{
            padding: 10px;
        }
        .subscribe__field{
            .subscribe__form{
                display: flex;
                flex-direction: column;
                .form__input{
                    width: 200px;
                }
                .form__button{
                    width: 200px;
                }
            }
        }
    }
}
@media screen and (max-width: 400px){
    .home-info{
        .home-info__text{
        }
    }
    .about-us{
        .about-us__block{
            .about-us__read-more{
                h1{
                    margin: 20px 0;
                    font-size: 40px;
                    line-height: 45px;
                }
            }
        }
    }
    .our-service{
        .block{
            width: 100px;
            .block__txt{
            }
            .block__img{
                p{
                    font-size: 20px;
                }
                img{
                    display: none;
                }
            }
        }
    }
    
}
@media screen and (max-width: 1100px){
    
}
@media screen and (max-width: 550px){
    .testimonials{
        h1{
            font-size: 30px;
            line-height: 35px;
        }
        .block{
            border-radius: 50px 50px;
            .block__img{
                display: none;
            }
            .block__txt{
                padding: 0;
                margin: 0;
                .block__position{
                    p{
                        font-size: 12px;
                        b{
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }

                }
                p{
                    padding-top: 15px;
                    font-size: 10px;
                }
            }
        }
    }
    .latest-news{
        .latest-news__blocks{
            .latest-news__block{
                .latest-news__img{
                    .border{
                        width: 300px;
                        height: 200px;
                        border-radius: 80px 0;
                    img{
                        width: 300px;
                        height: auto;
                        border-radius: 80px 0;
                        
                    }
                    }
                }
            }
        }
    }
}



// @media screen and (max-width: 650px){
//     
//   }
//   @media screen and (max-width: 500px){
//     .block{
//       width: 200px;
//     }
//   }
//   @media screen and (max-width: 400px){
//     
//   }